# Virtual Environment Directory
venv/

# VS Code Workspace
.vscode/

# Prevent Bytecode Tracking
__pycache__/

# Gemini Environment Key File
.env

# All Database Files
*.db

# Configuration Files
config/auth.json
config/models.json